<%- include('header.ejs') %>
<!-- <%- console.log('here in ejs= ',fileName,videoName,type)%> -->
  <a href=<%=fileName %>  download=<%=videoName %>>Download <%=type%></a>
<%- include('footer.ejs') %>
