<%- include('header.ejs') %>
<%
    for(let i=0;i<3;i++){
        let p = `${i+1}.jpg`;
         %>
         <div class="card-group">
            <div class="card">
              <img src=<%= p%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><%= data[i].description%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src=<%= p%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><%= data[i].description%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src=<%= p%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><%= data[i].description%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>

        <!-- <div class="card" style="width: 18rem;">
            <img src=<%=p %> class="card-img-top">
            <div class="card-body">
              <p class="card-text"><%=data[i].description%></p>
            </div>
          </div> -->


<%}%>


<%
    for(let i=3;i<6;i++){
        let p = `${i+1}.jpg`;
        if(i+1==4){
            p=`${i+1}.jpeg`;
        }
         %>
         <div class="card-group">
            <div class="card">
              <img src=<%= p%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><%= data[i].description%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src=<%= p%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><%= data[i].description%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src=<%= p%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><%= data[i].description%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>

        <!-- <div class="card" style="width: 18rem;">
            <img src=<%=p %> class="card-img-top">
            <div class="card-body">
              <p class="card-text"><%=data[i].description%></p>
            </div>
          </div> -->


<%}%>

<%
    for(let i=6;i<9;i++){
        let p = `${i+1}.jpg`;
        if(i+1==6){
            p=`${i+1}.jpeg`;
        }
         %>
         <div class="card-group">
            <div class="card">
              <img src=<%= p%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><%= data[i].description%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src=<%= p%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><%= data[i].description%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src=<%= p%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><%= data[i].description%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>

        <!-- <div class="card" style="width: 18rem;">
            <img src=<%=p %> class="card-img-top">
            <div class="card-body">
              <p class="card-text"><%=data[i].description%></p>
            </div>
          </div> -->


<%}%>
<%
    for(let i=9;i<12;i++){
        let p = `${i+1}.jpg`;
        if(i+1==12){
            p=`${i+1}.jpeg`;
        }
         %>
         <div class="card-group">
            <div class="card">
              <img src=<%= p%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><%= data[i].description%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src=<%= p%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><%= data[i].description%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src=<%= p%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><%= data[i].description%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>

        <!-- <div class="card" style="width: 18rem;">
            <img src=<%=p %> class="card-img-top">
            <div class="card-body">
              <p class="card-text"><%=data[i].description%></p>
            </div>
          </div> -->


<%}%>

<%- include('footer.ejs') %>